@charset "utf-8";
/* CGV 메인페이지 미디어쿼리 CSS - media.css */

/* 1270px이하 미디어쿼리 시작 */
@media screen and (max-width:1270px){
    /* gnb위치 변경 */
    .gnb {
        right: 70px;
    }
}
/* 1270px이하 미디어쿼리 끝 */

/* 1010px이하 미디어쿼리 시작 */
@media screen and (max-width:1010px){
    /* gnb위치 변경 */
    .gnb ul {
        position: absolute;
        top: 10px;
        right: -47px;
        width: 200px;
        flex-direction: column;
        align-items: flex-end;
        /* 처음에 안보임 */
        display: none;
    }

    /* gnb오버시 상위메뉴 보임 */
    .gnb:hover ul{
        display: flex;
        /* 원래 display로 가야함! */
    }

    /* 오버시 서브메뉴 안나옴! */
    .gnb ul>li:hover .smenu{
        display: none;
    }
}
/* 1010px이하 미디어쿼리 끝 */

/* 700px이하 미디어쿼리 시작 */
@media screen and (max-width:700px){

    /* 하단영역 */
    .info{
        flex-direction: column;
        padding: 0 15px 20px;
    }
    
    /* 하단영역 파티션박스 div공통 */
    .info>div{
        padding-top: 10px;
    }

    .info>div:last-child {
        margin: auto;
    }

    /* 회사주소박스 */
    .info address{
        text-align: center;
    }

}
/* 700px이하 미디어쿼리 끝 */

/* 500px이하 미디어쿼리 시작 */
@media screen and (max-width:500px){

    .tit{
        font-size: 10vw;
    }

    .gnb{
        bottom: -14px
    }

    /* 메인 컨텐츠 박스 */
    .cont{
        /* 배경위치,크기변경 */
        background-position: top;
        background-size: 140%;
    }

    #screen{
        top: 11.2%;
        left: 9.4%;
        width: 82.5%;
        height: 33.7%;
    }        

    /* 메인 컨텐츠 박스 */
    .cont::before{
        padding-top: 140%;
    }

    .mlist{
        width: 90%;
    }

    .mlist ul {
        flex-wrap: wrap;
    }

    .mlist ul>li {
        flex-basis: 30.3%;
        /* 
            기존에 flex:1 등분할 설정
            되어서 flex-basis는 기본설정 0으로 되어있음
            같은 의미인 width를 쓰면 적용아뇌는데 
            flex-basis가 더 우선한다!
            width말고 flex-basis로 셋팅!
        */
    }

    .info address span{
        display: none;
    }
}
/* 500px이하 미디어쿼리 끝 */

/* 280px이하 */
@media screen and (max-width:280px){
    .mlist ul>li {
        flex-basis: 29.3%;
    }
}